<h1>Password reset</h1>

<p>Klik tautan dibawah ini untuk melakukan reset password:</p>

<%= api_v1_passwords_reset_url(token: @user.password_reset_token) %>

<p>Harap install aplikasi Hi!Dokter untuk membuka link reset ini!</p>

<p>Link hanya akan aktif dengan batas waktu 2 jam setelah email ini diterima</p>

<p>
Jika Anda merasa tidak meminta untuk melakukan Reset Password, harap abaikan pesan ini dan 
password anda akan tetap seperti semula.
</p>