<h1>Welcome to HiDoctor!, <%= @user.fullname%></h1>
  <p>
    You have successfully signed up to HiDoctor!,
    your username is: <%= @user.fullname %><br>
  </p>
<p>Thanks for joining and have a great day!</p>