<h1>Welcome to alodokter.com, <%= @user.fullname %></h1>
  <p>
    You have successfully signed up to alodokter.com,
    your username is: <%= @user.fullname %><br>
  </p>
<p>Thanks for joining and have a great day!</p>