<%= csrf_meta_tag %>
<%= form_for @user, url: api_v1_passwords_reset_path(params[:password],@token), method: :patch do |f| %>
<div class='form'>
  <div class='field'>
    <label> Harap install Aplikasi Hi!Dokter untuk membuka link reset password </label>
  </div>
</div>
<% end %>
