<%= csrf_meta_tag %>
<%= form_for @user, url: api_v1_passwords_reset_path(params[:password]), method: :patch do |f| %>
<article>
<body>
    <h1> Harap install Aplikasi Hi!Dokter untuk membuka link reset password </h1>
 </body>
 </article>
<% end %>
