<!DOCTYPE html>
<html>
  <head>
    <title>HiDoctor!</title>
     <meta name="description" content="<%= @page_description %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
